// Animations
// ____________________________________________
// 1: Animations for body
// 2: Animations for Elements

// ________________1____________________


.transition-fade-left {
    transition: 1s ease-in-out;
}

html.is-animating .transition-fade-left {
    transform: scale(0 , 1);
    // opacity: 0;
    // transform: rotate(360deg);
}

.transition-fade-right {
    transition: 0.5s cubic-bezier(.66, .1, .36, .91);
    // transform: translateX(100%);
    
}

html.is-animating .transition-fade-right {
    // transform: translateY(100vh);
    transform: translateY(100vh);
    // transform: perspective(0.5);
    // background : $black;
    // z-index: -1;
    opacity: 0;
}


// ________________1____________________

